<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <title>Zion Connect</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="glyphicon glyphicon-user"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="glyphicon glyphicon-user"></span>Local</h3>

                <p>
                    <h1><stong>name</stong>: <%= user.name%></h1>
                    <strong>id</strong>: <%= user._id %><br/>
                    <strong>email</strong>: <%= user.email %><br/>
                    <strong>password</strong>: <%= user.password %><br/>
                    <strong>address</strong>: <%= user.address.street %><br/>
                    <strong>city</strong>: <%= user.address.city %><br/>
                    <strong>state</strong>: <%= user.address.state %><br />
                    <strong>zip</strong>: <%= user.address.zip %><br/>
                    <strong>phone</strong>: <%= user.phone %><br/>
                    <strong>bio</strong>: <%= user.bio %>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>